.home {
    padding-top: 175px;
    padding-bottom: 175px;
    min-height: 895px;
    background-color: bisque;
}

.home-content {
    max-width: 440px;

}

.home-heading {
    margin-bottom: 30px;
    color: #01996D;
    font-weight: 700;
    font-size: 65px;
    font-family: 'Georgia', serif;

}

.home-text {
    color: #484848;
    line-height: 144.5%;
}

.home-text + * {
    margin-top: 53px;
}

.home-btn {
    display: flex;

}