.story {
    background-color: #245852;
    padding-top: 229px;
    padding-bottom: 176px;
    color: #fff;



}

.story-row {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.story-content {
    margin-right: 31px;
    max-width: 580px;


}

.story-heading {
    font-family: 'Georgia', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;

}

.story-heading + * {
    margin-top: 33px;
}

.story-text {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    

}

.story-text + * {
    margin-top: 57px;

}

.story-btn {
    display: flex;
    white-space: nowrap;

}

.story-video {
    max-width: 895px;
    position: relative;
    
}

.story-video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
 }

.story-video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 17px;

}


.story-video-object {
    border-radius: 17px;

}